<%movies.forEach(movie => { %>
<div>
    <p><%= movie.name %> <a href="/edit/<%= movie._id %>">Edit</a></p><br>
    
    <img src="<%= movie.image %>" alt="movie image" width="200" height="200">
    
    <p>
        <%= movie.catagory %>
    </p>

    <p><%= movie.desc %></p>

    <a href="<%= movie.url %>">Watch the trailer</a>

    

    <div>
        <form method="POST" action="/delete/<%= movie._id %>?_method=DELETE">
            <button type="submit">Delete Movie</button>
        </form>
    </div>

    <br>
    <hr>
    <br>

</div>
<%})%>

<br><br><br>

<form action="/admin/addmovie" method="post">
    <div>
        <label>name</label>
        <input type="text" name="name">
    </div>

    <div>
        <label>url</label>
        <input type="text" name="url">
    </div>

    <div>
        <label>image url:</label>
        <input type="text" name="image">
    </div>

    <div>
        <label>catagory:</label>
        <input type="text" name="catagory">
    </div>

    <div>
        <label>descritpion:</label>
        <input type="text" name="desc">
    </div>

    <div>
        <input type="checkbox" id="isTop5" name="isTop5" value="true">
        <label for="isTop5"> Is it a top 5</label><br>
        <input type="checkbox" id="isTrending" name="isTrending" value="true">
        <label for="isTrending"> Is it trending</label><br>
    </div>

    <button type="submit">Add</button>
</form>