<h1>top 5</h1>
<div>
    <% top5.forEach(movie => { %>
        <div>
            <p><a href="/show/<%= movie._id %>"><%= movie.name %></a></p><br>
        
            <img src="<%= movie.image %>" alt="movie image" width="200" height="200">
            
            <p>
                <%= movie.catagory %>
            </p>
        
            <a href="<%= movie.url %>">Watch the trailer</a>
        </div>
    <% }) %>
</div>

<br>
<hr>
<br>

<h1>trending</h1>
<div>
    <% trend.forEach(movie => { %>
        <div>
            <p><a href="/show/<%= movie._id %>"><%= movie.name %></a></p><br>
        
            <img src="<%= movie.image %>" alt="movie image" width="200" height="200">
            
            <p>
                <%= movie.catagory %>
            </p>
        
            <a href="<%= movie.url %>">Watch the trailer</a>
        </div>
    <% }) %>
</div>