<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body> 
   
    <div style="background-image: url('<%=images[r]%>'); " class="container2">
        <div class="wel">
        <h2>WELCOME</h2> 
        <div class="active-pink-4 mb-4">
            <input class="form-control" id="search" type="text" placeholder="Search" aria-label="Search">
          </div>
        </div>
        <!-- <img src="<%=images[r]%>" alt="" height="300"> -->
        </div>
      </div>
    <h2>TOP 5</h2>
    <div class="top">
    
<div class="container-fluid">
<div class="row">
    <% top5.forEach(movie => { %>  
        
    <div class="col-xs-2" ><img src="<%= movie.image %>" class="img-rounded" alt="Cinque Terre" width="100%" height="100%"><a href="/show/<%= movie._id %>"><%= movie.name %></a></div>
    
    <% }) %>
</div>
</div>
</div>


 <h2>Trending</h2>
<div class="trending">
    <div class="container-fluid">
        <div class="row">
    <% trend.forEach(movie => { %>
 <div class="col-xs-2" ><img src="<%= movie.image %>" class="img-rounded" alt="Cinque Terre" width="100%" height="100%"><a href="/show/<%= movie._id %>"><%= movie.name %></a></div>
        
    <% }) %>
    </div>
</div>
</div>
<div class="footer4"> </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
