<head> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
</head>
    <div class="container-fluid">
        <div class="row">
            

<div class="col-xs-2" ><img src="<%= movie.image %>" alt="movie image" width="200" height="200"><a href="/show/<%= movie._id %>"><%= movie.name %></a></div>
        </div>
    </div>
<p>
    
    <%= movie.catagory %>
</p>

<p>
    <%= movie.desc %>
</p>

<a class="fab fa-youtube" href="<%= movie.url %>"></a>

<% if (user) { %>
<form action="/user/addmovie/" method="post">
    <input type="hidden" name="movie_id" value="<%= movie._id %>">
    <button class="fas fa-plus-circle" type="submit"></button>
</form>
<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
