<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie page</title>
       
</head>
<body>
    <div class="box">
        <div class="pic">
            <img src="<%= movie.image %>" class="img-rounded" alt="Cinque Terre" width="35%" height="35%">
            <div class="des">
                <div class="moviename">
                    <a style="font-weight:bold;"href="/show/<%= movie._id %>"><%= movie.name %></a>
                    <div class="cat">
                        <%= movie.catagory %>
                        <div class="overwrite">
                            <h3>Overview</h3>
                            <%= movie.desc %>
                            <div class="icon">
                                <a class="fab fa-2x fa-youtube" href="<%= movie.url %>"></a>
                                <% if (user) { %>
                                    <a class="fas fa-2x fa-plus-circle" href="/user/addmovie/<%= movie._id %>"></a>
                                    <% if (check) { %>
                                        <% if (stat == "like") { %>
                                            <a class="fab fa-2x fa-gratipay" style="margin: 0 30px;" href="/user/like/<%= movie._id %>"></a>  
                                        <% } else { %>
                                            <a class="fas fa-2x fa-heart" style="margin: 0 30px;" href="/user/like/<%= movie._id %>"></a>                                        
                                        <% } %>       
                                    <% } %>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="footer3"> </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>